@CHARSET "ISO-8859-1";

body {
	margin-bottom: 50px;
}

.tipo_item {
	background-color: grey;
	color: white;
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	border-radius: 10px;
}

ul {
	list-style-type: none;
}

.border {
	border: 2px solid black;
}

#itens {
	margin-top: 30px;
}

.right {
	text-align: right;
}

#compra {
	margin-top: 50px;
}

#precos {
	padding-left: 50px;
	margin-top: 30px;
	padding-right: 100px;
}

#precos div {
	margin-top: 5px;
}

.desconto {
	color: red
}

#buttons {
	margin-top: 60px;
	margin-right: 100px;
}

.collapse ul li {
	border-radius: 10px;
}

.collapse ul li :hover {
	background-color: rgb(200, 229, 248);
}

body {
	font-family: Arial;
}

.container {
	background-color: white;
	-webkit-box-shadow: 0 0 10px 5px #969696;
	box-shadow: 0 0 10px 5px #969696;
}

/* MENU */
.affix {
	top: 0;
	width: 100%;
}

.affix+.container {
	padding-top: 50px;
}

.navbar {
	border-style: none;
	background-color: rgb(16, 78, 139);
	-webkit-box-shadow: 0 0 3px 1px #A8A8A8;
	box-shadow: 0 0 3px 1px #A8A8A8;
	color: #efefed;
	z-index: 50;
}

.navbar-header a {
	font-family: Arial;
	color: #efefed;
}

.navbar-header button {
	border: 1px solid #efefed;
	border-radius: 3px;
	padding: 5px 7px;
}

.navbar-header a:hover {
	transition: 0.2s;
	color: #efefed;
	background-color: rgb(58, 95, 205);
}

#navItems a {
	font-weight: 400;
	font-size: 17px;
	color: #efefed;
}

#navItems a:hover {
	transition: 0.2s;
	color: #efefed;
	background-color: rgb(58, 95, 205);
}

.tipoItem {
	margin-top: 30px;
	float: left;
	width: 100%;
	padding: 10px 0 10px 0;
	border-radius: 5px;
}

.tipoItem:hover {
	transition: 0.2s;
	background-color: rgb(58, 95, 205);
}

.tipoItem img {
	height: 80px;
	max-width: 15%;
	margin: 0 5% 0 5%;
	float: left;
}

.tipoItem span {
	width: 75%;
	color: rgb(58, 95, 205);
	line-height: 80px;
	float: left;
	font-size: 24px;
}

#status {
	min-height: 100%;
	height: 100%;
	background-color: rgb(58, 95, 205);
	height: 100%;
	text-align: center;
	padding: 10px;
}

#status .info {
	text-align: left;
}

#status .dados {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

#status .dados .qtd {
	float: left;
	width: 100%;
	text-aling: center;
	font-size: 18px;
	font-weight: bold;
	font-size: 18px;
}

#status .dados .itens {
	width: 100%;
	float: left;
	width: 100%;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 15%; /* Could be more or less, depending on screen size */
	min-width: 150px;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.txtArea {
	width: 80%;
}

#buttonCPF {
	margin-top: 20px;
}

.limpar {
	clear: both;
}